<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Log In</h1>
    	<button ng-click="closeLoginModal()" class="button button-icon icon ion-ios-close-empty"></button>
    </ion-header-bar>
    <ion-content>
        
        <!-- Login Form -->
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input ng-model="user.username" type="text" placeholder="Username">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input ng-model="user.password" type="password" placeholder="Password">
          </label>
        </div>
        
        <div ng-if="authError" class="error padding" style="text-align:center;">
            <p class="assertive">Please try again :'(</p>    
        </div>
        
        
        <!-- action trigger -->
        <div class="padding">
            <button ng-click="login(user)" class="button button-block button-outline button-black" style="border-color: #e8207a; color: #e8207a;">
              <span ng-if="!loading">Log In</span>
              <ion-spinner ng-if="loading" style="margin-top:20px;" icon="dots"></ion-spinner>
            </button>
        </div>
        
        
    </ion-content>
</ion-modal-view>