<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Sign Up</h1>
        <button ng-click="closeSignupModal()" class="button button-icon icon ion-ios-close-empty"></button>
    </ion-header-bar>
    <ion-content>
        
        <!-- Signup Form -->
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input ng-model="user.username" type="text" placeholder="Username">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input ng-model="user.first_name" type="text" placeholder="First Name">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input ng-model="user.last_name" type="text" placeholder="Last Name">
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input ng-model="user.password" type="password" placeholder="Password">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Confirm Password</span>
            <input ng-model="user.confirm_password" type="password" placeholder="Confirm Password">
          </label>
        </div>
        
        <!-- action trigger -->
        <div class="padding">
            <button ng-click="register(user)" class="button button-block button-outline button-positive">
              Sign Up
            </button>
        </div>
        
        
        
    </ion-content>
</ion-modal-view>