<ion-popover-view style="width:97%;">
    <ion-header-bar class="item-input-inset">
        
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="msg" ng-enter="searchGifs(msg)">
          </label>
          <button class="button button-clear" ng-click="closeGifSearch($event)">
            Cancel
          </button>
        


    </ion-header-bar>
    
    <ion-content direction="x" style="height:200px;">
        
        <div class="gif-results-wrapper" ng-style="getWidth()">
          <!-- loading spinner -->
          <div class="row">
            <ion-spinner ng-if="searchingForGifs"
                         class="loading-spinner" 
                         style="margin-top:25%;" 
                         icon="spiral">
            </ion-spinner>
          </div>
          <!-- results -->
          <gif ng-if="!searchingForGifs"
               ng-repeat="gif in gifResults" 
               gif="gif"
               width="100px"
               height="100px"
               ng-click="sendGif(gif)">
          </gif>
        </div>

    </ion-content>

</ion-popover-view>
