<ion-popover-view style="width:97%;">
    <ion-header-bar>
        <h1 class="title pull-left">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </h1>
        <button ng-click="closeGifSearch($event)" class="button button-icon icon ion-ios-arrow-down"></button>
    </ion-header-bar>
    
    <ion-content>
        
    </ion-content>

</ion-popover-view>
