<ion-modal-view>

    <!-- NEED TO FIX THIS HARD CODED HIEGHT-->
    <ion-slide-box style="height:667px;" show-pager="false">
        
        <ion-slide>
            <!-- select friends to message -->
            <ion-header-bar style="background-color: #22b4b7;">
                <button ng-click="closeNewThreadModal()" 
                        class="button button-icon icon ion-ios-close-empty"
                        style="color:white;"></button>
                <h1 class="title"
                    style="color:white;">Moo At..</h1>
                
                <div class="buttons">
                    <!-- <button ng-click="syncContacts()" class="button button-icon icon ion-ios-loop"></button> -->
                    <button ng-click="nextSlide()" 
                            class="button button-icon icon ion-ios-plus-empty"
                            style="color:white;"></button>
                </div>
            </ion-header-bar>

            <ion-content>
                <!-- list of selected friends -->
                <div class="row" style="padding-bottom:0px; padding-top:0px;">
                    <span class="pill animated bounceIn"
                          ng-repeat="user in friends" 
                          ng-if="user.sendTo"
                          style="margin-top:5px; margin-bottom:5px; background-color: #e8207a;">
                          {{user.username}}
                    </span>
                </div>

                <!-- list of friends -->
                <ion-list>
                    <ion-checkbox ng-repeat="friend in friends" 
                                  ng-if="!friend.me" 
                                  ng-model="friend.sendTo">
                        {{friend.username}}
                    </ion-checkbox>
                </ion-list>

            </ion-content>

            <div class="padding" style="position:absolute; bottom:5px; width:100%;">
                    <button ng-click="startNewThread()" 
                            class="button button-block button-outline button-dark"
                            style="border-color: #e8207a; color: #e8207a;">
                      Moo
                    </button>
                </div>
        </ion-slide>



        <ion-slide>
            <!-- add a friend -->
            <ion-header-bar class="item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Find a Friend" ng-model="query">
                </label>
                <button class="button button-clear" ng-click="searchAccounts(query)" style="color: #22b4b7;">
                    Search
                </button>
            </ion-header-bar>

            <ion-content>
                <ion-list ng-if="friendsResults.length!=0">
                    <ion-item ng-repeat="result in friendsResults">
                        
                        <span>{{result.first_name}} {{result.last_name}}</span>
                        <span>{{result.username}}</span>
                        <button 
                            ng-click="addFriend(result)"
                            style="float:right;" 
                            class="button button-icon icon ion-ios-plus-outline">
                        </button>
                            
                    </ion-item>
                </ion-list>

            </ion-content>
            
        </ion-slide>
    </ion-slide-box>
    
</ion-modal-view>