/* Define Pallete Colours */
.color01{
  background-color: #e8207a;
}
.color02{
  background-color: #f2f2f2;
}
.color03{
  background-color: #dddddd;
}
.color04{
  background-color: #22b4b7;
}
.color05{
  background-color: #6a6a6a;
}


.bar-stable{
  background-color: #e8207a !important; 
}
.bar.bar-stable .title{
  color: white;
}
.bar-stable .button{
  color: white;
}
.bar-stable .button:hover{
  color: white;
}
.bar-stable .button.button-clear{
  color: white;
}






.loading-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}
.spinner svg {
  stroke: #444;
  fill: #444;
}













.timeStamp{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #bbbbbb;
}

.note-timeStamp{
    position: absolute;
    bottom: 0px;
    font-size: 60%;
    color: #bbbbbb;
}



.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.threads.avatar{
  margin-right: 5px;
  float: left;
}

.pill{
  padding: 5px;
  border-radius: 15px;
  background-color: #387ef5;
  color: white;
  float:left;
  margin-right:5px;
}





.text-input{
    margin-left: 15px;
    width: 100%;
}




.note{
  border: 0px;
}
.note-gif{   
  border-radius: 10px;
  width: 50%;
}



.authored .avatar{
    float: right;
    margin-left: 15px;
}




.heart {
    position: relative;
    width: 90px;
    height: 80px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 30px;
    top: 0;
    width: 30px;
    height: 45px;
    background: white;
    -moz-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}