<ion-header-bar class="bar-royal">
    <button ng-click="back()" class="button button-icon icon ion-ios-arrow-left button-royal"></button>
    <h1 class="title"></h1>
    <button ng-click="openModal()" class="button button-clear button-icon icon ion-ios-more-outline"></button>
</ion-header-bar>

<ion-content id="threadContentContainer">

    <!-- loading spinner -->
    <div class="row">
        <ion-spinner class="loading-spinner" ng-if="loading" icon="spiral"></ion-spinner>
    </div>

    <ion-list ng-if="!loading">
        
        <!-- paginate more content -->
        <ion-refresher
            on-refresh="getMore()"
            icon="ripple">
        </ion-refresher>

        <!-- Messege if user is reciever -->
        <ion-item class="note" style="padding:0px"
                  ng-repeat="note in notes">

            <div ng-if="!getAccount(note.author.id).me" class="row">
                <div class="col col-10">
                    <div class="threads avatar note-sender"
                         ng-style="{{getAccount(note.author.id).avatarColor}}">
                         <span>{{getAccount(note.author.id).initials}}</span>
                    </div>
                </div>

                <div class="col" style="padding-left:17px;">
                    <div class="note-content" style="display:inline;">
                        <div ng-if="!note.is_gif" class="note-text item-text-wrap">
                            <p>{{note.content}}</p>
                        </div>
                        <div ng-if="note.is_gif" class="note-gif"
                            style=" background-color: {{note.backgroundColor}};
                                    background-image: url({{note.content}});
                                    background-repeat: no-repeat;
                                    background-position: 50% 50%;
                                    background-size: cover;
                                    width:190px;
                                    height:190px;">
                        </div>  
                    </div>
                </div>
            </div>
            <!-- /Messege if user is reciever -->

            <!-- Messege if user is author -->
            <div ng-if="getAccount(note.author.id).me" class="row">
                <div class="col" style="padding-right:17px;">
                    <div class="note-content">
                        <!-- if msg is text -->
                        <div ng-if="!note.is_gif" class="note-text item-text-wrap" style="float:right;">
                            <p>{{note.content}}</p>
                        </div>
    
                        <!-- if msg is gif -->
                        <div ng-if="note.is_gif" class="note-gif"
                            on-double-tap="like($event, note)"
                            style=" background-color: {{note.backgroundColor}};
                                    background-repeat: no-repeat;
                                    background-position: 50% 50%;
                                    background-size: cover;
                                    background-image: url({{note.content}});
                                    width:190px;
                                    height:190px;
                                    float:right;">
                            <span class="note-timeStamp">{{note.formattedDate}}</span>
                        </div>  

                    </div>
                </div>

                <div class="col col-10">
                    <div class="threads avatar note-sender"
                         ng-style="{{getAccount(note.author.id).avatarColor}}"
                         style="float:right;">
                         <span>{{getAccount(note.author.id).initials}}</span>
                    </div>
                </div>
            </div>
            <!-- /Messege if user is author -->

            
        </ion-item>

        <!-- sending spinner -->
        <ion-item ng-if="noteSending" class="note" style="padding:0px">
            <div class="row">
                <div class="col col-80"></div>
                <div class="col">
                    <ion-spinner class="loading-spinner"icon="spiral"></ion-spinner>
                </div>
            </div>
        </ion-item>
        <!-- /sending spinner -->

    </ion-list>
    <!-- bottom space -->
    <span style="width:100%; height: 43px; display:block;"></span>
    <!-- /bottom space -->    

</ion-content>

<!-- <div class="heart animated bounceIn" style="position:fixed; left:225px; top:300px;"></div> -->

<div class="bar bar-footer">
    <button ng-click="openGifSearch($event)" class="button button-clear button-royal" style="width:50px;">GIF</button>
    <input class="text-input" type="text" placeholder="Send a Message" ng-model="msg" ng-enter="createNote(msg)"></input>
    <button ng-click="createNote(msg)" class="button button-clear button-icon icon ion-ios-arrow-left ion-ios-arrow-right"></button>
</div>
