<ion-header-bar class="bar-stable">
  <!-- left button(s) -->
  <button class="button button-icon icon ion-ios-circle-outline"
          ng-click="openAccountModal()" >
  </button>
  <!-- center -->
  <h1 class="title">
    moochat
  </h1>
  <!-- right button(s) -->
  <button class="button button-icon icon ion-ios-compose-outline"
          ng-click="openNewThreadModal()">
  </button>
</ion-header-bar>

<ion-content>
  <!-- refresh threads -->
  <ion-refresher  pulling-text="Pull to refresh..."
                  on-refresh="sync()"
                  icon="ripple">
  </ion-refresher>
    
  <!-- loading spinner -->
  <div class="row" style="padding:0px;">
    <ion-spinner class="loading-spinner" ng-if="loading" icon="spiral"></ion-spinner>
  </div>

  <!-- empty thread list msg -->
  <div class="row" ng-if="!loading && threads.length==0">
    <div class="col" style="text-align:center; padding-top:150px;">
      <span style="color: #c2c2c2; font-size:200%;">
        There are no threads
      </span>  
    </div>
  </div>

  <!-- list of threads -->
  <ion-list ng-if="!loading">
    <!-- thread-list-item -->
    <ion-item ng-repeat="thread in threads"
              ui-sref='thread({pk: thread.id})'>
      <!-- thread-list-item body -->
      <div class="row">
        <avatar ng-repeat="account in thread.participants" 
                ng-if="account.id!=me.id" 
                account="account" 
                style="margin-right: 5px;">
        </avatar>
        <time-stamp style="position:absolute; bottom:0px; right:5px;" time="thread.time_created"></time-stamp>
      </div>
      <!-- thread-list-item actions -->
      <ion-option-button class="button button-assertive"
                         ng-click="leave(thread)">
        Leave
      </ion-option-button>

    </ion-item>
  </ion-list>

</ion-content>
