<ion-header-bar class="bar-stable">
    <button ng-click="openAccountModal()" class="button button-icon icon ion-ios-circle-outline"></button>
    <h1 class="title">moochat</h1>
    <button ng-click="openNewThreadModal()" class="button button-icon icon ion-ios-plus-empty"></button>    
</ion-header-bar>

<ion-content>
    
    <!-- refresh threads -->
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="sync()"
        icon="ripple">
    </ion-refresher>
    
    <!-- loading spinner -->
    <div class="row" style="padding:0px;">
        <ion-spinner class="loading-spinner" ng-if="loading" icon="spiral"></ion-spinner>
    </div>
    
    <!-- list of threads -->
    <ion-list ng-if="!loading">
        <ion-item ng-repeat="thread in threads"
                  ui-sref='thread({pk: thread.id})'>
            
            <div class="row">
                <div class="threads avatar animated bounceInLeft"
                     ng-repeat="user in thread.participants"
                     ng-if="user.id!=me.id"
                     ng-style="user.background">
                     <!-- <span>{{getInitials(user)}}</span> -->
                     <span>{{getAccount(user.id).initials}}</span>
                </div>
                <div class="timeStamp">
                    {{dateFormatter(thread.time_updated)}}
                </div>
            </div>

        </ion-item>
    </ion-list>

</ion-content>
