<ion-header-bar class="bar-stable">
    <button ng-click="openAccountModal()" class="button button-icon icon ion-ios-circle-outline"></button>
    <h1 class="title">moochat</h1>
    <button ng-click="openNewThreadModal()" class="button button-icon icon ion-ios-plus-empty"></button>    
</ion-header-bar>

<ion-content>
    
    <!-- refresh threads -->
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()"
        icon="ripple">
    </ion-refresher>
    
    <!-- loading spinner -->
    <div class="row">
        <ion-spinner class="loading-spinner" ng-if="loading" icon="spiral"></ion-spinner>
    </div>
    
    <!-- list of threads -->
    <ion-list ng-if="!loading">
        <ion-item ng-repeat="thread in threads" 
                  ui-sref='thread({pk: thread.id})'>

            <div class="row">
                <div class="col">
                    <!-- <img ng-repeat="user in thread.participants" class="avatar" ng-src="{{user.profile_picture_url}}" style="margin-right:5px;"> -->
                    <div class="avatar"
                         ng-repeat="user in thread.participants"
                         ng-style="randomColor()">
                         <span>{{getInitials(user)}}</span>
                    </div>
                </div>
                <div class="timeStamp">
                    {{dateFormatter(thread.time_updated)}}
                </div>
            </div>

            <!-- <ion-scroll direction="x">
                <img ng-repeat="user in thread.participants" class="avatar" ng-src="{{user.profile_picture_url}}" style="margin-right: 5px;">
            </ion-scroll> -->
        </ion-item>
    </ion-list>

</ion-content>