<ion-header-bar class="bar-stable">
    <button ng-click="back()" class="button button-icon icon ion-ios-arrow-left"></button>
    <h1 class="title"></h1>
    <button ng-click="openModal()" class="button button-clear button-icon icon ion-ios-more-outline"></button>
</ion-header-bar>

<ion-content>

    <!-- loading spinner -->
    <div class="row">
        <ion-spinner class="loading-spinner" ng-if="loading" icon="spiral"></ion-spinner>
    </div>

    <ion-list ng-if="!loading">
        <ion-item class="note"
                  ng-repeat="note in notes">

            <div ng-if="!isNoteAuthorMe(note)" class="row">
                <div class="col col-20">
                    <div class="threads avatar note-sender"
                         ng-style="note.author.background">
                         <span>{{getInitials(note.author)}}</span>
                    </div>
                </div>

                <div class="col">
                    <div class="note-content" style="display:inline;">
                        <div ng-if="!note.is_gif" class="note-text item-text-wrap">
                            <p>{{note.content}}</p>
                        </div>
                        <div ng-if="note.is_gif" class="note-gif"
                            style="background-image: url({{note.content}});
                                    background-repeat: no-repeat;
                                    background-position: 50% 50%;
                                    background-size: cover;
                                    width:190px;
                                    height:190px;">
                        </div>  
                    </div>
                </div>
            </div>



            <div ng-if="isNoteAuthorMe(note)" class="row">
                <div class="col">
                    <div class="note-content" style="display:inline;">
                        <div ng-if="!note.is_gif" class="note-text item-text-wrap" style="float:right;">
                            <p>{{note.content}}</p>
                        </div>
                        <div ng-if="note.is_gif" class="note-gif"
                            style="background-image: url({{note.content}});
                                    background-repeat: no-repeat;
                                    background-position: 50% 50%;
                                    background-size: cover;
                                    width:190px;
                                    height:190px;

                                    float:right;">
                        </div>  
                    </div>
                </div>
                <div class="col col-20">
                    <div class="threads avatar note-sender"
                         ng-style="note.author.background">
                         <span>{{getInitials(note.author)}}</span>
                    </div>
                </div>
            </div>

            
            <!-- <div ng-class="{'authored':me.id==note.author.id, 'note-content':me.id!=note.author.id}">

                <div class="threads avatar note-sender"
                     ng-style="note.author.background"
                     style="display:inline;">
                     <span>{{getInitials(note.author)}}</span>
                </div>
                    
                <div class="note-content" style="display:inline;">
                    
                    <div ng-if="!note.is_gif" class="note-text item-text-wrap">
                    
                        <p>{{note.content}}</p>
                    </div>
                    
                    <div ng-if="note.is_gif" class="note-gif"
                        style="background-image: url({{note.content}});
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                background-size: cover;
                                width:190px;
                                height:190px;

                                display:inline;">
                    </div>  

                </div>
            
            </div> -->
            
        </ion-item>
    </ion-list>
    <span style="width:100%; height: 43px; display:block;"></span>
</ion-content>

<div class="bar bar-footer">
    <button ng-click="openGifSearch($event)" class="button button-clear button-icon icon ion-ios-arrow-left ion-ios-photos-outline">GIF </button>
    <input class="text-input" type="text" placeholder="Moo" ng-model="msg"></input>
    <button ng-click="createNote(msg)" class="button button-clear button-icon icon ion-ios-arrow-left ion-ios-arrow-right">GIF </button>
</div>
